$primary: rgb(35, 40, 60);
$secondary: rgb(240, 85, 35);

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
}

@mixin tab() {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin small-tab() {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: 768px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  color: $primary;
  text-decoration: none;
}

a,
svg,
button {
  cursor: pointer;
}

a:hover {
  color: $secondary !important;
}

.main {
  background: rgb(245, 245, 245);
  padding: 15px 0 0 0;
  position: relative;
  overflow: hidden;

  .wrapper {
    position: absolute;
    top: -120%;
    left: 75%;
    transform: translateX(-50%);
    width: 135rem;
    height: 135rem;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .gradient {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 3px solid #fff;
      position: relative;
      background: radial-gradient(
        circle,
        rgba(225, 225, 225, 0.5) 0%,
        rgba(225, 225, 225, 0.5) 25%,
        rgb(255, 255, 255) 100%
      );

      .laptop {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -3%;
        left: 3%;
      }

      &.one {
        height: 81%;
        width: 81%;
      }

      &.two {
        height: 73%;
        width: 73%;
      }

      &.three {
        height: 75%;
        width: 75%;
      }

      &.four {
        height: 66%;
        width: 66%;
      }

      &.five {
        height: 60%;
        width: 60%;
      }
    }
  }

  .header {
    background: #fff;
    margin: 0 125px 0 125px;
    padding: 10px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    &__logo {
      margin-right: 75px;
      display: flex;
      align-items: center;

      svg {
        width: 50px;
      }
    }

    .nav {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 13px;
        text-align: center;

        &:hover {
          color: $secondary;
        }
      }

      &__wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 40px;
      }
    }

    &__login {
      margin-left: 15px;
      display: flex;
      align-items: center;

      button {
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        padding: 10px 20px;
        border-radius: 50px;
        border: none;
        background: rgb(55, 190, 240);
        display: flex;
        align-items: center;
        transition-duration: 0.15s;

        &:hover {
          background: $secondary;
        }

        svg {
          margin-right: 3px;
          width: 10px;
        }
      }
    }

    &__toggle {
      display: none;
    }
  }

  .home {
    display: grid;
    padding-top: 70px;

    .content {
      padding: 0 0 100px 120px;
      z-index: 1;

      &__title {
        font-size: 45px;
        line-height: 50px;
        padding-bottom: 30px;

        span {
          color: $secondary;

          &.italic {
            font-family: "Gilroy Bold";
            font-style: italic;
            color: $primary;
          }
        }
      }

      &__text {
        width: 28%;
        border-top: 1px solid rgb(220, 220, 220);
        padding: 15px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
      }

      &__button {
        button {
          padding: 22px 45px;
          background: $secondary;
          font-size: 18px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #ffffff;
          border: none;
          border-radius: 50px;

          svg {
            width: 20px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;

  &__wrapper {
    width: 80px;
    height: 80px;
    background: rgb(245, 245, 245);
    transform: translateY(-55%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    button {
      background: #fff;
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 15px;
      }
    }
  }
}

.tech {
  padding: 0 120px;
  margin-bottom: 80px;

  &__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 35px;
  }

  .content {
    display: grid;
    grid-template-columns: 6fr 6fr;
    background: rgb(235, 235, 245);
    padding: 50px 75px 0 75px;
    border-radius: 50px;

    .image {
      padding: 0 50px;

      img {
        width: 100%;
      }
    }

    .text__content {
      span {
        display: block;
        font-weight: 600;
        font-size: 17.5px;
        line-height: 30px;
        margin-top: 25px;
      }

      .buttons {
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: repeat(12, 1fr);

        div {
          button {
            width: 100%;
            padding: 4px;
            font-family: "Gilroy";
            font-size: 15px;
            line-height: 45px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #ffffff;
            border: none;
            display: flex;
            justify-content: center;
            border-radius: 50px;
          }
        }

        .one {
          grid-area: 1 / 1 / 2 / 9;

          button {
            background: #5096ff;
          }
        }

        .two {
          grid-area: 1 / 9 / 2 / 11;

          button {
            background: #ffb359;
          }
        }

        .three {
          grid-area: 2 / 1 / 3 / 5;

          button {
            background: #ff6f50;
          }
        }

        .four {
          grid-area: 2 / 5 / 3 / 12;

          button {
            background: #4bd071;
          }
        }

        .five {
          grid-area: 3 / 1 / 4 / 7;

          button {
            background: #50c0ff;
          }
        }

        .six {
          grid-area: 3 / 7 / 4 / 10;

          button {
            background: #4b77b9;
          }
        }

        .seven {
          grid-area: 3 / 10 / 4 / 13;

          button {
            background: #af93ff;
          }
        }
      }
    }
  }
}

.education {
  padding: 0 120px;
  margin-top: 50px;
  margin-bottom: 75px;

  &__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    color: #22253b;
    margin-bottom: 35px;
  }

  .wrapper {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    &.top {
      grid-template-columns: repeat(12, 1fr);
      margin-bottom: 25px;
    }

    &.bottom {
      grid-template-columns: repeat(11, 1fr);
      margin-bottom: 25px;
    }

    .card {
      background: #eaf2f5;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 30px 35px 30px;

      &__icon {
        margin-bottom: 20px;

        svg {
          width: 55px;
        }
      }

      &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        margin-bottom: 10px;
      }

      &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
      }

      &.one {
        grid-area: 1 / 1 / 1 / 4;
      }
      &.two {
        grid-area: 1 / 4 / 1 / 7;
      }
      &.three {
        grid-area: 1 / 7 / 1 / 10;
      }
      &.four {
        grid-area: 1 / 10 / 2 / 13;
      }

      // new Grid
      &.five {
        grid-area: 1 / 2 / 2 / 5;
      }
      &.six {
        grid-area: 1 / 5 / 2 / 8;
      }
      &.seven {
        grid-area: 1 / 8 / 2 / 11;
      }
    }
  }
}

.large-section {
  background: rgb(245, 245, 245);
}

.process {
  position: relative;
  overflow: hidden;

  &__wrapper {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 150rem;
    height: 150rem;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .gradient {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 3px solid #fff;
      position: relative;
      background: radial-gradient(
        circle,
        rgba(225, 225, 225, 0.5) 0%,
        rgba(225, 225, 225, 0.5) 25%,
        rgb(255, 255, 255) 100%
      );

      &.one {
        height: 100%;
        width: 100%;
      }

      &.two {
        height: 73%;
        width: 73%;
      }

      &.three {
        height: 75%;
        width: 75%;
      }

      &.four {
        height: 66%;
        width: 66%;
      }

      &.five {
        height: 60%;
        width: 60%;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 55px;
    z-index: 1;
    position: relative;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
  }

  .laptop {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
    }

    img {
      width: 60%;
    }
  }

  .content {
    padding: 25px 120px 95px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;

    &__wrapper {
      background: #fff;
      border-radius: 50px;
      display: grid;
      grid-template-columns: 4fr 4fr 4fr;
      padding: 50px 0;
      margin-bottom: 30px;

      .column {
        display: flex;
        flex-direction: column;
        padding: 0 50px;

        &__number {
          font-weight: 700;
          font-size: 65px;
          color: #38bff2;
        }

        &__title {
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 10px;
        }

        &__text {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }

        &.two,
        &.three {
          border-left: 1px solid rgb(230, 230, 230);
        }
      }
    }

    .action {
      background: #fff;
      border-radius: 50px;
      padding: 10px 25px 10px 15px;
      width: fit-content;
      display: flex;

      &__title {
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
        display: flex;
        align-items: center;
      }

      &__button {
        button {
          padding: 22px 45px;
          background: $secondary;
          font-size: 18px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #ffffff;
          border: none;
          border-radius: 50px;
          margin-right: 25px;

          svg {
            width: 20px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.help {
  padding: 100px 120px;

  .wrapper {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    .column {
      background: #eaf2f5;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 25px 75px;

      &__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 20px;
      }

      &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
      }

      img {
        width: 100%;
      }
    }

    &.top {
      grid-template-columns: 4.5fr 7.5fr;
      margin-bottom: 25px;
    }

    &.bottom {
      grid-template-columns: 7.5fr 4.5fr;
    }
  }
}

.cost-section {
  background: rgb(245, 245, 245);

  .scroll-icon {
    display: none;
  }
}

.cost {
  padding: 75px 120px 25px 120px;

  &__title {
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 30px;
  }

  .detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .column {
      display: flex;
      align-items: center;

      &__title {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
      }

      &__icon {
        svg {
          width: 50px;
          margin-right: 25px;
        }
      }
    }
  }
}

.block-wrapper {
  background: rgb(245, 245, 245);
  padding: 0 120px;
}

.block {
  padding: 35px;
  border-radius: 35px;
  background: #fff;

  .row {
    display: grid;
    grid-template-columns: 5.5fr 3fr 3.5fr;
    padding: 15px 20px;
    border-radius: 15px;
    padding: 20px;
    font-weight: 400;
    font-size: 16px;

    &.grey {
      background: rgb(245, 245, 245);
    }

    &.blue {
      .tab {
        font-weight: 700;
        font-size: 14px;
        color: #38bff2;
      }
    }

    &.bold {
      .tab {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}

.sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #8e8e8e;
  padding: 25px 0;
}

.start-section {
  padding: 0 120px;
  background: rgb(245, 245, 245);
}

.start {
  display: grid;
  grid-template-columns: 1fr 7fr 4fr;
  background: rgb(235, 235, 245);
  border-radius: 50px;
  padding: 55px;
  gap: 30px;

  &__icon {
    display: flex;

    svg {
      width: 90px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
  }

  &__button {
    display: flex;

    button {
      width: 100%;
      height: fit-content;
      padding: 20px 40px;
      background: $secondary;
      font-size: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #ffffff;
      border: none;
      border-radius: 50px;

      svg {
        width: 20px;
        margin-left: 10px;
      }
    }
  }
}

.footer {
  background: rgb(245, 245, 245);
  padding: 75px 120px 0 120px;

  .content {
    display: grid;
    grid-template-columns: 7fr 2.5fr 2.5fr;
    margin-bottom: 50px;

    .column {
      .number {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #38bff2;
        margin-bottom: 5px;
      }

      .email {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
      }

      .text {
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        color: #8e8e8e;
      }

      a {
        font-weight: 600;
        font-size: 13px;
      }

      &__logo {
        display: flex;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8e8e8e;

        svg {
          width: 90px;
          margin-right: 15px;
        }
      }

      .social {
        display: flex;
        margin-bottom: 50px;

        a {
          border-radius: 100%;
          margin-right: 15px;
          background: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;

          &:hover {
            background: $secondary;
          }

          svg {
            width: 20px;

            &.facebook {
              width: 10px;
            }
          }
        }
      }

      &.justify {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .bottom {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 5fr 3.5fr 3.5fr;

    .copyright,
    .user,
    .policy {
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #8e8e8e;
      }
    }

    .policy {
      text-align: end;
    }
  }
}

.mobile-header {
  display: none;
}

.mobile-header-wrapper {
  display: none;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background: rgba(25, 25, 50, 0.9);

  display: none;

  &.active {
    display: flex;
  }
}

.modal {
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 75%;
  min-height: 250px;
  background: #fff;
  border-radius: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  display: none;

  &.active {
    display: flex;
  }

  &__final {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 15px 30px;
      background: $secondary;
      font-size: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      border: none;
      border-radius: 25px;

      svg {
        width: 16px;
        margin-left: 10px;
      }
    }
  }

  .task-sign {
    padding: 15px 30px;
    background: rgb(235, 235, 235);
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 25px;
    margin-bottom: 25px;
    width: fit-content;

    svg {
      width: 16px;
      margin-left: 10px;
    }
  }

  .result-sign {
    padding: 20px 30px;
    background: rgb(235, 235, 235);
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: none;
    border-radius: 50px;
    margin: 0 auto 25px;
    width: fit-content;

    svg {
      width: 20px;
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }

  .checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .check {
      display: flex;
      flex-direction: column;

      &__item {
        display: flex;
        align-items: center;
        margin-top: 15px;

        input[type="radio"] {
          /* Add if not using autoprefixer */
          -webkit-appearance: none;
          /* Remove most all native input styles */
          appearance: none;
          /* For iOS < 15 */
          background-color: var(--form-background);
          /* Not removed via appearance */

          font: inherit;
          background: rgb(225, 225, 255);
          width: 25px;
          height: 25px;
          border: 0.15em solid rgb(225, 225, 255);
          transform: translateY(-0.075em);

          display: grid;
          place-content: center;
          border-radius: 5px;

          &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 2.5px;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            /* Windows High Contrast Mode */
            background-color: $secondary;
          }

          &:checked::before {
            transform: scale(1);
          }
        }

        label {
          font-weight: 600;
          font-size: 15px;
          line-height: 25px;
          margin-left: 15px;
        }
      }
    }

    .submit {
      button {
        padding: 15px 30px;
        background: $secondary;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        border: none;
        border-radius: 25px;

        svg {
          width: 16px;
          margin-left: 10px;
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 0 50px;

    &.left {
      text-align: left;
      padding: 0;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
    padding: 0 50px;

    &.bold {
      font-weight: 600;
    }

    &.left {
      text-align: left;
      padding: 0;
    }
  }

  &__button {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 0 50px;

    button {
      padding: 22px 45px;
      background: $secondary;
      font-size: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      border: none;
      border-radius: 50px;

      svg {
        width: 20px;
        margin-left: 10px;
      }
    }
  }

  .close {
    display: flex;
    justify-content: flex-end;

    svg {
      width: 20px;
    }
  }
}

@include tab() {
  .main {
    padding: 15px 0 0 0;

    .wrapper {
      position: absolute;
      top: -105%;
      left: 75%;
      transform: translateX(-50%);
      width: 100rem;
      height: 100rem;
    }

    .header {
      margin: 0 50px 0 50px;
      padding: 5px 15px;
      border-radius: 30px;

      &__logo {
        margin-right: 25px;

        svg {
          width: 50px;
        }
      }

      .nav {
        a {
          font-size: 12px;
        }

        &__wrapper {
          gap: 30px;
        }
      }

      &__login {
        margin-left: 10px;

        button {
          font-size: 11px;
          padding: 10px 20px;
          border-radius: 30px;
        }
      }
    }

    .home {
      padding-top: 50px;

      .content {
        padding: 0 0 50px 50px;
        z-index: 1;

        &__title {
          font-size: 35px;
          line-height: 45px;
          padding-bottom: 15px;
        }

        &__text {
          width: 25%;
          padding: 10px 0;
          font-size: 16px;
          line-height: 20px;
        }

        &__button {
          button {
            padding: 15px 30px;
            font-size: 15px;
            border-radius: 30px;

            svg {
              width: 15px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .bottom {
    width: 100%;

    &__wrapper {
      width: 60px;
      height: 60px;

      button {
        width: 25px;
        height: 25px;

        svg {
          width: 15px;
        }
      }
    }
  }

  .tech {
    padding: 0 50px;
    margin-bottom: 50px;

    &__title {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 25px;
    }

    .content {
      display: grid;
      grid-template-columns: 6fr 6fr;
      padding: 50px 75px 0 75px;
      border-radius: 50px;

      .image {
        padding: 0 50px;
      }

      .text__content {
        span {
          font-size: 14px;
          line-height: 25px;
          margin-top: 15px;
        }

        .buttons {
          div {
            button {
              padding: 5px;
              font-size: 13px;
              line-height: 25px;
              border-radius: 25px;
            }
          }
        }
      }
    }
  }

  .education {
    padding: 0 50px;
    margin-top: 25px;
    margin-bottom: 50px;

    &__title {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 25px;
    }

    .wrapper {
      &.top {
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 25px;
      }

      &.bottom {
        grid-template-columns: repeat(11, 1fr);
        margin-bottom: 25px;
      }

      .card {
        border-radius: 25px;
        padding: 30px 15px 25px 15px;

        &__icon {
          margin-bottom: 15px;

          svg {
            width: 44px;
          }
        }

        &__title {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 10px;
        }

        &__text {
          font-size: 11px;
          line-height: 14px;
        }
      }
    }
  }

  .large-section {
    background: rgb(245, 245, 245);
  }

  .process {
    &__wrapper {
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
      width: 150rem;
      height: 150rem;
    }

    &__title {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 25px;
      padding-top: 30px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 25px;
    }

    .laptop {
      svg {
        width: 55px;
      }

      img {
        width: 50%;
      }
    }

    .content {
      padding: 25px 50px 75px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;

      &__wrapper {
        border-radius: 30px;
        padding: 30px 0;
        margin-bottom: 15px;

        .column {
          padding: 0 25px;

          &__number {
            font-size: 50px;
          }

          &__title {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 15px;
          }

          &__text {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

      .action {
        border-radius: 30px;
        padding: 5px 15px 5px 5px;

        &__title {
          font-size: 13px;
          line-height: 13px;
        }

        &__button {
          padding: 5px;

          button {
            padding: 16px 30px;
            font-size: 16px;
            border-radius: 30px;
            margin-right: 15px;

            svg {
              width: 20px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .help {
    padding: 25px 50px;

    .wrapper {
      .column {
        border-radius: 30px;
        padding: 15px 25px;

        &__title {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 10px;
        }

        &__text {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .cost {
    padding: 25px 50px 5px 50px;

    &__title {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 15px;
    }

    .detail {
      margin-bottom: 25px;

      .column {
        &__title {
          font-size: 12px;
          line-height: 16px;
        }

        &__icon {
          svg {
            width: 40px;
            margin-right: 15px;
          }
        }
      }
    }
  }

  .block-wrapper {
    padding: 0 50px;
  }

  .block {
    padding: 25px;
    border-radius: 25px;

    .row {
      padding: 15px 20px;
      padding: 15px;
      font-size: 14px;

      &.blue {
        .tab {
          font-weight: 700;
          font-size: 11px;
          color: #38bff2;
        }
      }

      &.bold {
        .tab {
          font-size: 16px;
        }
      }
    }
  }

  .sub-title {
    font-size: 12px;
    line-height: 20px;
    padding: 15px 0;
  }

  .start-section {
    padding: 0 50px;
    background: rgb(245, 245, 245);
  }

  .start {
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    background: rgb(235, 235, 245);
    border-radius: 50px;
    padding: 55px;
    gap: 30px;

    &__icon {
      display: flex;

      svg {
        width: 90px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
    }

    &__button {
      display: flex;

      button {
        width: 100%;
        height: fit-content;
        padding: 20px 30px;
        background: $secondary;
        font-size: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #ffffff;
        border: none;
        border-radius: 50px;

        svg {
          width: 20px;
          margin-left: 10px;
        }
      }
    }
  }

  .footer {
    background: rgb(245, 245, 245);
    padding: 75px 50px 0 50px;

    .content {
      display: grid;
      grid-template-columns: 7fr 2.5fr 2.5fr;
      margin-bottom: 50px;

      .column {
        .number {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #38bff2;
          margin-bottom: 5px;
        }

        .email {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
        }

        .text {
          font-weight: 400;
          font-size: 13px;
          line-height: 23px;
          color: #8e8e8e;
        }

        a {
          font-weight: 600;
          font-size: 13px;
        }

        &__logo {
          display: flex;
          margin-bottom: 50px;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #8e8e8e;

          svg {
            width: 90px;
            margin-right: 15px;
          }
        }

        .social {
          display: flex;
          margin-bottom: 50px;

          a {
            border-radius: 100%;
            margin-right: 15px;
            background: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;

            svg {
              width: 20px;

              &.facebook {
                width: 10px;
              }
            }
          }
        }

        &.justify {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }

    .bottom {
      padding: 30px 0;
      display: grid;
      grid-template-columns: 5fr 3.5fr 3.5fr;

      .copyright,
      .user,
      .policy {
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          color: #8e8e8e;
        }
      }

      .policy {
        text-align: end;
      }
    }
  }
}

@include small-tab() {
  .main {
    padding: 15px 0 0 0;

    .wrapper {
      position: absolute;
      top: -100%;
      left: 75%;
      transform: translateX(-50%);
      width: 75rem;
      height: 75rem;
    }

    .header {
      margin: 0 25px 0 52px;
      padding: 5px 15px;
      border-radius: 25px;

      &__logo {
        margin-right: 15px;

        svg {
          width: 40px;
        }
      }

      .nav {
        a {
          font-size: 11px;
        }

        &__wrapper {
          gap: 15px;
        }
      }

      &__login {
        margin-left: 5px;

        button {
          font-size: 10px;
          padding: 10px 20px;
          border-radius: 25px;
        }
      }
    }

    .home {
      padding-top: 25px;

      .content {
        padding: 0 0 50px 50px;
        z-index: 1;

        &__title {
          font-size: 25px;
          line-height: 25px;
          padding-bottom: 15px;
        }

        &__text {
          width: 25%;
          padding: 10px 0;
          font-size: 13px;
          line-height: 20px;
        }

        &__button {
          button {
            padding: 11px 25px;
            font-size: 12px;
            border-radius: 25px;

            svg {
              width: 15px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .bottom {
    width: 100%;

    &__wrapper {
      width: 60px;
      height: 60px;

      button {
        width: 25px;
        height: 25px;

        svg {
          width: 15px;
        }
      }
    }
  }

  .tech {
    padding: 0 25px;
    margin-bottom: 25px;

    &__title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    .content {
      display: grid;
      grid-template-columns: 6fr 6fr;
      padding: 50px 15px 0 15px;
      border-radius: 25px;

      .image {
        padding: 0 50px;
      }

      .text__content {
        span {
          font-size: 14px;
          line-height: 25px;
          margin-top: 15px;
        }

        .buttons {
          div {
            button {
              padding: 5px;
              font-size: 13px;
              line-height: 25px;
              border-radius: 25px;
            }
          }
        }
      }
    }
  }

  .education {
    padding: 0 25px;
    margin-top: 15px;
    margin-bottom: 30px;

    &__title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    .wrapper {
      &.top {
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 25px;
      }

      &.bottom {
        grid-template-columns: repeat(11, 1fr);
        margin-bottom: 25px;
      }

      .card {
        border-radius: 25px;
        padding: 20px 5px 15px 5px;

        &__icon {
          margin-bottom: 10px;

          svg {
            width: 35px;
          }
        }

        &__title {
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 10px;
        }

        &__text {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
  }

  .large-section {
    background: rgb(245, 245, 245);
  }

  .process {
    &__wrapper {
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
      width: 150rem;
      height: 150rem;
    }

    &__title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
      padding-top: 25px;
    }

    &__text {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 20px;
    }

    .laptop {
      svg {
        width: 50px;
      }

      img {
        width: 50%;
      }
    }

    .content {
      padding: 15px 25px 50px 25px;

      &__wrapper {
        border-radius: 20px;
        padding: 20px 0;
        margin-bottom: 15px;

        .column {
          padding: 0 25px;

          &__number {
            font-size: 50px;
          }

          &__title {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 15px;
          }

          &__text {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

      .action {
        border-radius: 30px;
        padding: 5px 15px 5px 5px;

        &__title {
          font-size: 13px;
          line-height: 13px;
        }

        &__button {
          padding: 5px;

          button {
            padding: 14px 25px;
            font-size: 14px;
            border-radius: 30px;
            margin-right: 15px;

            svg {
              width: 16px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .help {
    padding: 25px;

    .wrapper {
      .column {
        border-radius: 30px;
        padding: 15px 25px;

        &__title {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 10px;
        }

        &__text {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .cost {
    padding: 25px 25px 5px 25px;

    &__title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .detail {
      margin-bottom: 20px;

      .column {
        &__title {
          font-size: 11px;
          line-height: 15px;
        }

        &__icon {
          svg {
            width: 30px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .block-wrapper {
    padding: 0 25px;
  }

  .block {
    padding: 15px;
    border-radius: 25px;

    .row {
      padding: 15px;
      font-size: 12px;
    }
  }

  .sub-title {
    font-size: 11px;
    line-height: 20px;
    padding: 15px 0;
  }

  .start-section {
    padding: 0 25px;
    background: rgb(245, 245, 245);
  }

  .start {
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    background: rgb(235, 235, 245);
    border-radius: 30px;
    padding: 35px;
    gap: 15px;

    &__icon {
      display: flex;

      svg {
        width: 75px;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }

    &__button {
      button {
        padding: 15px 25px;
        font-size: 13px;
        border-radius: 30px;

        svg {
          width: 16px;
        }
      }
    }
  }

  .footer {
    padding: 75px 25px 0 25px;

    .content {
      display: grid;
      grid-template-columns: 7fr 2.5fr 2.5fr;
      margin-bottom: 30px;

      .column {
        .number {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 5px;
        }

        .email {
          font-size: 14px;
        }

        .text {
          font-size: 11px;
          line-height: 20px;
        }

        a {
          font-size: 11px;
        }

        &__logo {
          margin-bottom: 30px;
          font-size: 14px;
          line-height: 16px;

          svg {
            width: 75px;
            margin-right: 15px;
          }
        }

        .social {
          margin-bottom: 30px;

          a {
            margin-right: 15px;
            width: 44px;
            height: 44px;

            svg {
              width: 20px;

              &.facebook {
                width: 10px;
              }
            }
          }
        }
      }
    }

    .bottom {
      padding: 20px 0;

      .copyright,
      .user,
      .policy {
        a {
          font-weight: 400;
          font-size: 12px;
          line-height: 23px;
          color: #8e8e8e;
        }
      }

      .policy {
        text-align: end;
      }
    }
  }
}

@include mobile() {
  .main {
    padding: 10px 0 0 0;

    .wrapper {
      top: -15%;
      left: 50%;
      transform: translateX(-50%);
      width: 75rem;
      height: 75rem;
    }

    .header {
      margin: 0 15px 0 15px;
      padding: 5px 15px;
      display: grid;
      grid-template-columns: 3fr 6fr 3fr;

      &__logo {
        margin-right: 0;

        svg {
          width: 30px;
        }
      }

      .nav {
        display: none;
      }

      &__login {
        margin-left: 0;
        justify-content: center;

        button {
          font-size: 10px;
        }
      }

      &__toggle {
        display: flex;
        justify-content: flex-end;

        button {
          border: none;
          background: transparent;

          svg {
            width: 17px;
            fill: $primary;

            &:hover {
              fill: $secondary;
            }
          }
        }
      }
    }

    .home {
      padding-top: 25px;

      .content {
        padding: 0 0 333px 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__title {
          font-size: 25px;
          line-height: 25px;
          text-align: center;
          padding: 0 15px 30px 15px;
        }

        &__text {
          padding: 10px 15px 10px 15px;
          width: 100%;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          width: 95%;
        }

        &__button {
          button {
            padding: 20px 40px;
            font-size: 16px;

            svg {
              width: 18px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .tech {
    padding: 0 15px;
    margin-bottom: 80px;

    &__title {
      text-align: center;
      margin-bottom: 25px;
      font-weight: 600;
      font-size: 25px;
      line-height: 25px;
    }

    .content {
      display: block;
      padding: 15px 15px 15px 15px;
      border-radius: 25px;

      .image {
        display: none;
      }

      .text__content {
        span {
          display: none;
        }

        .buttons {
          div {
            button {
              font-size: 14px;
              line-height: 25px;
            }
          }

          .one {
            grid-area: 1 / 1 / 2 / 13;

            button {
              background: #5096ff;
            }
          }

          .two {
            grid-area: 2 / 1 / 2 / 6;

            button {
              background: #ffb359;
            }
          }

          .three {
            grid-area: 2 / 6 / 2 / 13;

            button {
              background: #ff6f50;
            }
          }

          .four {
            grid-area: 3 / 1 / 3 / 13;

            button {
              background: #4bd071;
            }
          }

          .five {
            grid-area: 4 / 1 / 4 / 13;

            button {
              background: #50c0ff;
            }
          }

          .six {
            grid-area: 5 / 1 / 5 / 7;

            button {
              background: #4b77b9;
            }
          }

          .seven {
            grid-area: 5 / 7 / 5 / 13;

            button {
              background: #af93ff;
            }
          }
        }
      }
    }
  }

  .education {
    padding: 0 15px;
    margin-top: 30px;

    &__title {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 26px;
      text-align: center;
    }

    .wrapper {
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      &.top {
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 10px;
      }

      &.bottom {
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 10px;
      }

      .card {
        border-radius: 25px;
        padding: 25px 10px 20px 10px;

        &__icon {
          margin-bottom: 10px;

          svg {
            width: 35px;
          }
        }

        &__title {
          font-size: 11px;
          line-height: 11px;
          margin-bottom: 5px;
        }

        &__text {
          font-size: 9px;
          line-height: 12px;
        }

        &.one {
          grid-area: 1 / 1 / 1 / 7;
        }
        &.two {
          grid-area: 1 / 7 / 1 / 13;
        }
        &.three {
          grid-area: 2 / 1 / 2 / 7;
        }
        &.four {
          grid-area: 2 / 7 / 2 / 13;
        }

        // new Grid
        &.five {
          grid-area: 1 / 1 / 1 / 7;
        }
        &.six {
          grid-area: 1 / 7 / 1 / 13;
        }
        &.seven {
          grid-area: 2 / 1 / 2 / 13;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          padding: 25px;

          .card__icon {
            grid-area: 1 / 1 / 3 / 2;
            margin-bottom: 0;

            svg {
              margin-right: 15px;
              float: right;
            }
          }

          .card__title {
            grid-area: 1 / 2 / 2 / 5;
            text-align: left;
            margin-bottom: 0;
          }

          .card__text {
            grid-area: 2 / 2 / 3 / 5;
            text-align: left;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .process {
    &__title {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 20px;
      padding: 50px 25px 0 5px;
    }

    &__text {
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 20px;
      padding: 0 15px;
    }

    .laptop {
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 55px;
      }

      img {
        width: 100%;
      }
    }

    .content {
      padding: 25px 15px 75px 15px;

      &__wrapper {
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 25px;

        .column {
          padding: 0 0 25px 0;

          &__number {
            font-size: 50px;
          }

          &__title {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
          }

          &__text {
            font-size: 12px;
            line-height: 20px;
          }

          &.two,
          &.three {
            border-top: 1px solid rgb(230, 230, 230);
            border-left: none;
          }

          &.three {
            padding-bottom: 0;
          }
        }
      }

      .action {
        background: #fff;
        border-radius: 25px;
        padding: 15px 15px 20px 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
          font-size: 13px;
          line-height: 13px;
          text-align: center;
        }

        &__button {
          button {
            padding: 15px 35px;
            font-size: 16px;
            border-radius: 30px;
            margin-right: 0;
            margin-bottom: 15px;

            svg {
              width: 17px;
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .help {
    padding: 15px;

    .wrapper {
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      display: flex;
      flex-direction: column;

      .column {
        border-radius: 25px;
        padding: 30px 20px;

        &__title {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 15px;
        }

        &__text {
          font-size: 12px;
          line-height: 15px;
        }

        img {
          width: 100%;
        }
      }

      &.top {
        grid-template-columns: 4.5fr 7.5fr;
        margin-bottom: 25px;
      }

      &.bottom {
        grid-template-columns: 7.5fr 4.5fr;
      }
    }
  }

  .cost-section {
    background: rgb(245, 245, 245);
    padding: 0 15px;

    .scroll-icon {
      display: flex;
      align-items: center;

      svg {
        width: 25px;
        margin-left: 15px;
      }
    }
  }

  .cost {
    padding: 50px 15px 15px 15px;

    &__title {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 25px;
    }

    .detail {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;

      .column {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          margin-bottom: 25px;
        }

        &__icon {
          display: flex;
          justify-content: center;

          svg {
            width: 50px;
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .block-wrapper {
    padding: 15px;
    overflow-x: scroll;
  }

  .block {
    width: 768px;
    padding: 15px;
    border-radius: 25px;

    .row {
      padding: 10px 15px;
      border-radius: 10px;
      padding: 15px;
      font-size: 14px;

      &.grey {
        background: rgb(245, 245, 245);
      }

      &.blue {
        .tab {
          font-size: 12px;
        }
      }

      &.bold {
        .tab {
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }

  .sub-title {
    font-size: 12px;
    line-height: 15px;
    padding: 15px 0;
  }

  .start-section {
    padding: 0 15px;
  }

  .start {
    display: flex;
    border-radius: 30px;
    padding: 25px;
    gap: 15px;
    flex-direction: column;
    align-items: center;

    &__icon {
      svg {
        width: 75px;
      }
    }

    &__text {
      font-size: 12px;
      line-height: 20px;
    }

    &__button {
      width: 100%;

      button {
        width: 100%;
        padding: 15px 30px;
        font-size: 14px;
        border-radius: 30px;

        svg {
          width: 16px;
          margin-left: 5px;
        }
      }
    }
  }

  .footer {
    padding: 25px 15px 0 15px;

    .content {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;

        .number {
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          margin-bottom: 10px;
        }

        .email {
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          margin-bottom: 10px;
        }

        .text {
          font-size: 11px;
          line-height: 16px;
          text-align: center;
          margin-bottom: 10px;
        }

        a {
          font-size: 11px;
          margin-bottom: 25px;
        }

        &__logo {
          display: flex;
          margin-bottom: 25px;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;

          svg {
            width: 66px;
            margin-right: 15px;
          }
        }

        .social {
          display: flex;
          margin-bottom: 15px;

          a {
            margin-right: 15px;
            background: $primary;
            width: 40px;
            height: 40px;

            svg {
              width: 20px;

              &.facebook {
                width: 10px;
              }
            }
          }
        }

        &.justify {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
        }
      }
    }

    .bottom {
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .copyright,
      .user,
      .policy {
        a {
          font-size: 12px;
          line-height: 16px;
        }
      }

      .policy {
        text-align: end;
      }
    }
  }

  .mobile-header-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: rgba(25, 25, 50, 0.9);

    display: none;

    &.active {
      display: flex;
    }
  }

  .mobile-header {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 90%;
    height: 90vh;
    background: #fff;
    border-radius: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;

    display: none;

    &.active {
      display: flex;
    }

    .close {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 25px;

      svg {
        width: 20px;
      }
    }

    .links {
      display: flex;
      flex-direction: column;

      a {
        font-size: 17.5px;
        font-weight: 600;
        margin-bottom: 25px;
      }
    }

    .login {
      margin-top: auto;

      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        padding: 15px 25px;
        border-radius: 50px;
        border: none;
        background: rgb(55, 190, 240);
        display: flex;
        align-items: center;
        transition-duration: 0.15s;

        &:hover {
          background: $secondary;
        }

        svg {
          margin-right: 5px;
          width: 15px;
        }
      }
    }
  }

  .modal {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 90%;
    min-height: 320px;
    background: #fff;
    border-radius: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    display: none;

    &.active {
      display: flex;
    }
  
    &__final {
      display: flex;
      justify-content: flex-end;
  
      button {
        padding: 15px 30px;
        background: $secondary;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        border: none;
        border-radius: 25px;
  
        svg {
          width: 16px;
          margin-left: 10px;
        }
      }
    }
  
    .task-sign {
      padding: 10px 25px;
      font-size: 12px;
      border-radius: 15px;
      margin-bottom: 15px;
  
      svg {
        width: 14px;
      }
    }
  
    .result-sign {
      padding: 15px 25px;
      font-size: 12px;
      border-radius: 30px;
      margin: 0 auto 15px;
  
      svg {
        width: 16px;
        margin-left: 5px;
        margin-bottom: 5px;
      }
    }
  
    .checkbox-wrapper {
      display: flex;
      flex-direction: column;
  
      .check {
        display: flex;
        flex-direction: column;
  
        &__item {
          display: flex;
          align-items: center;
          margin-top: 10px;
  
          input[type="radio"] {
            width: 20px;
            height: 20px;
            border-radius: 5px;
  
          }
  
          label {
            font-size: 12px;
            line-height: 20px;
            margin-left: 12px;
          }
        }
      }
  
      .submit {
        margin-top: 25px;

        button {
          padding: 15px 30px;
          font-size: 15px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #ffffff;
          border: none;
          border-radius: 25px;
  
          svg {
            width: 16px;
            margin-left: 10px;
          }
        }
      }
    }
  
    &__title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px;
      margin-top: 15px;
      padding: 0 5px;
    }
  
    &__text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
      padding: 0 5px;
    }
  
    &__button {
      padding: 0 5px;
  
      button {
        padding: 15px 35px;
        font-size: 16px;
        border-radius: 30px;
  
        svg {
          width: 16px;
          margin-left: 7.5px;
        }
      }
    }
  
    .close {
      display: flex;
      justify-content: flex-end;
  
      svg {
        width: 20px;
      }
    }
  }
}
